<section id="portfolio" class="portfolio-section">
  <div class="container content">
    <h2 class="title">Meus Projetos</h2>
    <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae deserunt sint tempore
      perspiciatis eius praesentium quod, nam rerum aperiam voluptates, quibusdam eum similique repellendus beatae
      dolore quaerat magnam quo minima.</p>
    <div class="cards">
      <div class="card">
        <div class="image"><img ngSrc="https://placehold.co/600x400" alt="Projeto 1 Foto" width="600" height="400">
        </div>
        <h4 class="card-title">
          Projeto 1
        </h4>
        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id ea ratione corporis enim cupiditate iste, fugit
          inventore minus nisi exercitationem?
        </p>
        <div class="techs">
          <span>React</span>
          <span>TypeScript</span>
          <span>Node.js</span>
        </div>
      </div>
      <div class="card">
        <div class="image"><img ngSrc="https://placehold.co/600x400" alt="Projeto 1 Foto" width="600" height="400">
        </div>
        <h4 class="card-title">
          Projeto 1
        </h4>
        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id ea ratione corporis enim cupiditate iste, fugit
          inventore minus nisi exercitationem?
        </p>
        <div class="techs">
          <span>React</span>
          <span>TypeScript</span>
          <span>Node.js</span>
        </div>
      </div>
      <div class="card">
        <div class="image"><img ngSrc="https://placehold.co/600x400" alt="Projeto 1 Foto" width="600" height="400">
        </div>
        <h4 class="card-title">
          Projeto 1
        </h4>
        <p class="card-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id ea ratione corporis enim cupiditate iste, fugit
          inventore minus nisi exercitationem?
        </p>
        <div class="techs">
          <span>React</span>
          <span>TypeScript</span>
          <span>Node.js</span>
        </div>
      </div>
    </div>
    <button class="all-projects-btn btn-outline">Ver todos os projetos</button>
  </div>
</section>