<div class="journey">
  <div class="box">
    <h4 class="subtitle">{{ subtitle }}</h4>
    <div class="text">
      <p>{{ text }}</p>
      <div class="infos">
        @for (stat of stats; track stat.label) {
        <div>
          <p>{{ stat.label }}</p>
          <p class="highlight">{{ stat.value }}</p>
        </div>
        }
      </div>
      <app-timeline [steps]="journeySteps"></app-timeline>
    </div>
  </div>
  <div class="image code-image">
    <app-code-card [snippet]="codeSnippet"></app-code-card>
  </div>
</div>