@use '../../../styles/variables' as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: $header-height;
  box-sizing: border-box;
  align-items: center;
  background-color: var(--bg);

  .container {
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-grow: 1;
      color: var(--text);

      button {
        color: var(--text);
      }

      .logo {
        font-family: $font-family-brand;
        font-size: $font-size-lg;
        font-weight: 700;
        text-decoration: none;
        color: var(--primary);
        cursor: pointer;
      }

      .theme-btn {
        padding: 8px;
        border-radius: 50%;
        background-color: var(--bg-surface);

        @media screen and (min-width: #{$breakpoint-md}) {
          order: 2;
        }

        &:hover {
          background-color: var(--primary);
        }
      }

      .menu-btn {
        @media screen and (min-width: #{$breakpoint-md}) {
          display: none;
        }
      }

      .nav-links {
        position: absolute;
        top: calc(#{$header-height} + (#{$vertical-padding} * 2));
        right: $horizontal-padding-sm;
        z-index: 10;
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 3px;
        width: 60vw;
        border-radius: 10px;
        background-color: var(--bg-surface);

        @media screen and (min-width: #{$breakpoint-md}) {
          position: relative;
          top: auto;
          right: auto;
          display: flex;
          flex-direction: row;
          order: 1;
          width: auto;
          background-color: transparent;
        }

        &.show {
          display: flex;
        }

        li {
          width: 100%;
          text-align: center;

          a {
            display: block;
            padding: 1em;
            font-size: $font-size-md;
            text-decoration: none;
            color: var(--text);
            cursor: pointer;

            &.active {
              font-weight: 700;
              color: var(--primary);
            }

            &:hover {
              border-radius: 10px;
              background-color: var(--primary);
              font-weight: 700;
              color: var(--button-outline-hover-text);
            }
          }
        }
      }
    }
  }
}