@use '../../../styles/variables' as *;

header {
  display: flex;
  height: $header-height;
  padding: $vertical-padding $horizontal-padding-sm;
  align-items: center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    color: $text-light;

    button {
      color: $text-light;
    }

    .theme-btn {
      border-radius: 50%;
      background-color: $secondary;
      padding: 8px;

      &:hover {
        background-color: $primary;
      }
    }

    .logo {
      color: $primary;
      font-family: $font-family-brand;
      font-weight: 700;
      font-size: $font-size-lg;
      cursor: pointer;
    }

    .nav-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: $header-height;
      right: $horizontal-padding-sm;
      width: 60vw;
      align-items: center;
      gap: 3px;
      background-color: $secondary;
      border-radius: 10px;
      z-index: 10;

      li {
        text-align: center;
        width: 100%;

        a {
          display: block;
          color: $text-light;
          font-size: $font-size-md;
          padding: 1em;
          cursor: pointer;

          &.active {
            color: $primary;
            font-weight: 700;
          }

          &:hover {
            background-color: $primary;
            color: $text-dark;
            font-weight: 700;
            border-radius: 10px;
          }
        }
      }
    }

    .nav-links.show {
      display: flex;
    }
  }

  @media screen and (min-width: #{$breakpoint-md}) {
    padding: $vertical-padding $horizontal-padding-md;

    nav {
      .menu-btn {
        display: none;
      }

      .theme-btn {
        order: 2;
      }

      .nav-links {
        background-color: transparent;
        display: flex;
        position: relative;
        width: auto;
        flex-direction: row;
        top: auto;
        right: auto;
        order: 1;
      }
    }
  }
}
