<section class="heroSection">
  <div class="content container">
    <div class="image">
      <img
        ngSrc="https://placehold.co/800x800"
        width="300"
        height="300"
        priority
        alt="Foto de Guilherme"
      />
    </div>
    <div class="wrapper">
      <div class="text">
        <h1 class="main">Olá, eu sou <strong class="name">Guilherme Marcos</strong></h1>
        <h2 class="job">Desenvolvedor Full Stack</h2>
        <p class="description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua.
        </p>
      </div>
      <div class="buttons">
        <button class="projects-btn btn-solid">Ver Projetos</button>
        <button class="contact-btn btn-outline">Entre em Contato</button>
      </div>
      <div class="links">
        <a href="http://" target="_blank" rel="noopener noreferrer"
          ><lucide-icon [size]="20" [img]="Github"></lucide-icon
        ></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"
          ><lucide-icon [size]="20" [img]="Linkedin"></lucide-icon
        ></a>
        <a href="http://" target="_blank" rel="noopener noreferrer"
          ><lucide-icon [size]="20" [img]="Mail"></lucide-icon
        ></a>
      </div>
    </div>
    <lucide-icon class="arrow" [size]="30" [img]="ArrowDown"></lucide-icon>
  </div>
</section>
