<section id="home" class="heroSection">
  <div class="content container">
    <div class="image">
      <img [ngSrc]="content.photo.src" width="300" height="300" priority [alt]="content.photo.alt" />
    </div>
    <div class="wrapper">
      <div class="text">
        <h1 class="main">{{ content.greeting }} <strong class="name">{{ content.name }}</strong></h1>
        <h2 class="job">{{ content.jobTitle }}</h2>
        <p class="description">{{ content.description }}</p>
      </div>
      <div class="buttons">
        <button type="button" class="projects-btn btn-solid" (click)="navigateToFragment('portfolio')">
          {{ content.buttons.projects }}
        </button>
        <button type="button" class="contact-btn btn-outline" (click)="navigateToFragment('contact')">
          {{ content.buttons.contact }}
        </button>
      </div>
      <div class="links">
        @for (social of content.socialLinks; track social.ariaLabel) {
        <a [href]="social.url" target="_blank" rel="noopener noreferrer" [attr.aria-label]="social.ariaLabel">
          <lucide-icon [img]="social.icon" [size]="20"></lucide-icon>
        </a>
        }
      </div>
    </div>
    <button type="button" class="arrow" (click)="navigateToFragment('about')" aria-label="Ir para seção Sobre Mim">
      <lucide-icon [size]="30" [img]="ArrowDown"></lucide-icon>
    </button>
  </div>
</section>