@use 'colours';
@use 'typography';

$primary: colours.$light-green;
$secondary: colours.$graphite-light;
$background-dark: colours.$graphite;
$text-light: colours.$light-gray;
$text-dark: colours.$graphite;
$text: colours.$pale-slate;

$font-family-brand: typography.$font-family-brand;
$font-family-main: typography.$font-family-main;

$vertical-padding: 10px;
$horizontal-padding: 1rem;