/* You can add global styles to this file, and also import other style files */
@use 'ngx-toastr/toastr';
@use 'scss-reset';
@use './styles/variables' as *;
@use './styles/mixins' as *;

html,
body {
  background-color: $background-dark;
  font-family: $font-family-main;
  color: $text;
  max-width: 100%;
}

.container {
  @include container;
}

.card {
  @include card-base();
}

.btn-solid {
  @include button-solid;
}

.btn-outline {
  @include button-outline;
}

.title {
  font-size: $font-size-xl;
  color: $text-light;
  position: relative;
  font-weight: bold;

  &::after {
    content: '';
    display: block;
    height: 4px;
    background: $primary;
    margin: 0.75rem auto 0;
  }
}